@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
    background:#0F1624;
    color:white;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
    margin:0;
}

.navbar{
    color: white;
}

.nav{
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{    
    margin-left: 70px;
    margin-top: -40px;
    cursor: pointer;
}

.logo p{    
    font-size: 22px;
}

.logo p span{    
    font-size:25px;
}

.navitems{
    font-size:18px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:350px;
    margin-top: -40px;
    cursor: pointer;
}

.projects{
    margin:15px;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    margin-top: -28px;
    cursor: pointer;
}

.linkdin{
    margin-left:15px;
}

.twitter{
    margin-left:15px;
}

